@charset "utf-8";

@font-face {
    font-family: keepcalm;
    src: url(font/keepcalm.ttf);
}

@font-face {
    font-family: fonte-t;
    src: url(font/Poppins-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(10deg, #BFFFBC, white, white, white);
}

/* SCROLLBAR */

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background: #4DFF53;
    border-radius: 2em;
}

.darkmode::-webkit-scrollbar {
    background-color: black;
}

/*---------------- BOTÃO NAVBAR------- */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEFEFE;
    box-shadow: 0 0 20PX black;
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 50%;
    margin: 1%;
}

.navbar a {
    display: flex;
    margin-left: 2em;
    color: #8c00ff;
    font-size: 1.3em;
    text-decoration: none;
    transition: 1s;
    font-family: fonte-t;
    transition: all .3s ease-in-out;
}

.navbar a:hover {
    color: #4DFF53;
    border-radius: 1.5em .5em;
}

/* --------FINAL BOTÃO NAVBAR */

/*---------LOGO NAVBAR ----------  */

.logo {
    width: 35%;
    padding-right: 20%;
    margin-left: 5%;
}

/* MENU MOBILE */

.menu-mobile {
    text-align: center;
    background-color: #b760ffbe;
    position: absolute;
    top: 7.2em;
    left: 0;
    width: 100%;
    height: 0;
    visibility: hidden;
    transition: .5s;
    overflow: hidden;
}

.menu-mobile nav a {
    backdrop-filter: blur(5px);
    margin-right: 2em;
    color: #FEFEFE;
    text-shadow: 0 0 10px black;
    font-size: 2em;
    text-decoration: none;
    margin-left: 35px;
    transition: 1s;
    margin-top: 1em;
    font-family: fonte-t;
    transition: all .5s ease-in-out;
    display: block;
    padding: 20px 30px;
}

.menu-mobile nav a:hover {
    box-shadow: 1px 1px 10px #FEFEFE;
    padding: 20px 25px;
    border-radius: 50px;
}

/* BOTAO ICONE */
button {
    margin-right: 3em;
    border: none;
    background: transparent;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.linha {
    width: 50px;
    height: 5px;
    background-color: #4DFF53;
    display: block;
    text-align: center;
    margin: 10px;
    position: relative;
    transform-origin: center;
    transition: .3s;
}

button.ativar {
    box-shadow: 0 0 5px #4DFF53;
}

button.ativar .linha:nth-child(1) {
    transform: translateY(10px) rotate(-40deg);
    background-color: #b760ff;
    box-shadow: 0 0 10px #b760ff;
}

button.ativar .linha:nth-child(3) {
    transform: translateY(-18px) rotate(40deg);
    background-color: #b760ff;
    box-shadow: 0 0 10px #b760ff93;
}

button.ativar .linha:nth-child(2) {
    opacity: 0;
}


/* __________ DARKMODE __________ */

/*  NAVBAR*/

body.darkmode {
    background: #171516;
}

.darkmode .header {
    color: #b760ff93;
    background: #171516;
}

.darkmode .navbar a:hover {
    color: #4DFF53;
}

.darkmode .navbar a {
    color: rgb(255, 255, 255);
}

/* footer */

.darkmode .footer-bottom {
    color: black;
}

/* SOBRE NOS */

.darkmode .header {
    color: #b760ff93;
    background: #171516;
}

.darkmode .navbar a:hover {
    color: #b760ff93;
    background: black;
}

.darkmode .navbar a {
    color: #ffffff;
}

.darkmode p {
    color: #FEFEFE;
}

.darkmode .workshop p {
    color: #171516;
}

/* FORMATAÇÃO BOTAO DARKMODE */
section {
    top: 0;
    float: right;
}

.darkmode label {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darkmode input {
    position: absolute;
    opacity: 0;
}

.darkmode h1 {
    color: #FEFEFE;
}

.darkmode .cardWorkshop {
    background-color: #cfb1ff;
    box-shadow: -1em 1em #171516,
        -2em 2em #B760FF;
}

.darkmode .cardWorkshop h2 {
    color: #171516;
}


/* CARDS */

.darkmode .box-card .btn-card a {
    box-shadow: -3px -5px 1px black;
}

.darkmode .box-card .btn-card a:hover {
    box-shadow: 0px 4px 1px white;
}


/* FOOTER */

.darkmode footer {
    background-color: rgba(0, 0, 0, 0.699);
}


.darkmode .footer-bottom {
    color: rgb(255, 255, 255);
}


/* -----icones----- */
#sun {
    position: absolute;
    font-size: 2em;
    color: orange;
    filter: drop-shadow(0 0 2px rgba(255, 0, 0, 0.644));
    transform: scale(0);
    transition: 1s ease;
}

.darkmode input:checked~#sun {
    transition-delay: .8s;
    transform: scale(1) rotate(360deg);
}

#moon {
    font-size: 2em;
    color: #666;
    filter: drop-shadow(0 0 2px rgba(0, 0, 0, .5));
    transition: 1s ease;
}

.darkmode input:checked~#moon {
    transition-delay: 0s;
    transform: rotate(360deg) scale(0);
}

.toggle {
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: 1s;
}

/* CARROSSEL */
.carousel-item {
    height: 90vh;
}

/* SOBRE NOS */
.slogan h1 {
    font-family: keepcalm, sans-serif;
    font-size: 4em;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 1%;
}

.roxo {
    color: #B760FF;
}

.verde {
    color: #4DFF53;
}

.sobreNos {
    display: flex;
    flex-direction: row;
    padding: 7%;
    margin: 3%;
    text-align: center;
}

.sobreNos h2 {
    font-family: fonte-t;
    font-size: 2em;
    margin-bottom: 5%;
    color: #B760FF;
    text-align: center;
}

.sobreNos img {
    width: 450px;
    height: 500px;
}

.sobrenosTexto {
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
    font-family: fonte-t;
    padding: 4%;
    padding-bottom: 10%;
    margin: 4%;

}

/* WORKSHOP */
.workshop {
    width: 100%;
    margin-bottom: 15%;
}

.cardWorkshop {
    width: 70%;
    padding: 7%;
    margin: 0 auto;
    background-color: #b760ff;
    box-shadow: -1em 1em #FEFEFE,
        -2em 2em #B760FF;
}

.workshop h2 {
    font-family: keepcalm, sans-serif;
    color: #FEFEFE;
    font-size: 4em;
    margin: 0;
    padding: 0;
}

.workshop p {
    color: #FEFEFE;
    font-family: sans-serif;
    font-size: 1.8em;
    font-family: fonte-t;
}

/* CARDS */
.cards {
    display: flex;
}

.box-card img {
    width: 100%;
}

/* BOTAO CARD */
.btn-card a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    font-family: fonte-t;
    margin-top: -5em;
    z-index: 5;
    background-color: #4DFF53;
    padding: .5em;
    box-shadow: -3px -5px 1px white;
    border-radius: 1em;
    transition: all .3s ease-in-out;
}

.btn-card {
    z-index: 5;
    text-align: center;
    position: relative;
    top: -1.2em;
}

.box-card .btn-card a:hover {
    margin-top: -5em;
    z-index: 5;
    background-color: #4DFF53;
    padding: .5em;
    box-shadow: 0px 4px 1px #b760ffab;
}


/* FORMULARIO CONTATO */
.btn-contato {
    margin-top: 10em;
}

.btn-contato a {
    text-decoration: none;
    font-size: 1.3em;
    font-family: fonte-t;
    color: black;
    background-color: #B760FF;
    box-shadow: 0 0 10px #8c00ff;
    padding: 1em;
    border-radius: 0 1em 0 1em;
    transition: all .5s ease-in-out;
}

.btn-contato a:hover {
    border-radius: 0 0 1em 2em;
    background-color: #4DFF53;
    box-shadow: 0 10px 20px #4DFF53;
}

/* FOOTER */
footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: white;
    font-family: fonte-t, sans-serif;
    font-style: normal;
    box-shadow: 0 0 10px gray;
    padding: 2em;
    color: #B760FF;
    margin-top: 5%;
}

footer img {
    width: 13%;
}

.logofooter {
    width: 50%;
}

.desenvolvedores {
    width: 30%;
    flex-wrap: wrap;
}

.desenvolvedores img {
    width: 25%;
    margin-top: 5%;
}

.fotoLink img:hover {
    box-shadow: 0 0 30px #00ff08;
    border-radius: 100%;
    transition: all .5s ease-in-out;
}

.email {
    font-family: fonte-t;
    font-size: 1.5em;
}

.insta {
    font-family: fonte-t;
    font-size: 1.5em;
}

span {
    font-weight: 900;
}

footer a {
    width: 100%;
}







































/* ___________ RESPONSIVIDADE __________ */

@media screen and (max-width: 900px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .navbar,
    a {
        display: none;
    }

    .logo {
        width: 50%;
    }

    .menu-mobile.abrir {
        visibility: visible;
        height: calc(100vh - 120px);
        z-index: 5;
    }

    button {
        display: block;
    }

    section {
        top: 0;
        left: 1;
    }

    .carousel-item {
        height: 100%;
        margin-bottom: 1%;
    }
    
    .slogan h1 {
        font-family: keepcalm;
        font-size: 2.5em;
    }

    .sobreNos {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 10px;
        color: #171516;
    }

    .sobrenosTexto{
        font-size: 1.4em;
        font-family: fonte-t;
    }

    .sobreNos img {
        width: 300px;
        height: 300px;
        text-align: center;
        margin: auto 0;
    }

    .cardWorkshop {
        width: 70%;
        padding: 10%;
        margin: 0 auto;
        background-color: #4DFF53;
        box-shadow: -1em 1em #FEFEFE,
            -2em 2em #B760FF;
        margin-bottom: 5%;
    }

    .workshop h2 {
        font-family: keepcalm, sans-serif;
        color: #FEFEFE;
        font-size: 2.5em;
    }

    .workshop p {
        font-family: sans-serif;
        font-size: 1.6em;
        font-family: fonte-t;
    }


    /* CARDS */
    .cards {
        display: flex;
        flex-direction: column;
    }

    .btn-card a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 35%;
        z-index: 5;
        text-align: center;
        position: relative;
        top: 3em;
        width: 30%;
    }

    /* FORM */
    .btn-contato a {
        display: flex;
        flex-direction: column;
    }

    /* FOOTER */
    footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        font-family: fonte-t, sans-serif;
        font-style: normal;
        box-shadow: 0 0 10px gray;
        padding: 2em;
        color: #B760FF;
        display: flex;
    }

    .fotoLink {
        width: 13%;
        text-align: center;
    }

    .logofooter {
        width: 100%;
    }

    .desenvolvedores {
        width: 110%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .desenvolvedores img {
        width: 50px;
        height: 50px;
        margin: 15px;
    }

    .devs {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .email {
        font-family: fonte-t;
        font-size: 1.4em;
    }

    .insta {
        font-family: fonte-t;
        font-size: 1.4em;
    }

    span {
        color: #4DFF53;
        font-weight: 900;
    }

    footer a {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}